:root {
  --getColorAccent: rgb(195, 217, 236);
  --getColorLight: rgb(235, 243, 249);
  --getColorPrimary: rgb(37, 106, 180);

  --postColorAccent: rgb(195, 236, 205);
  --postColorLight: rgb(235, 249, 235);
  --postColorPrimary: rgb(19, 133, 42);

  --putColorAccent: rgb(245, 213, 195);
  --putColorLight: rgb(250, 240, 239);
  --putColorPrimary: rgb(191, 103, 40);

  --globalAccent: rgb(185, 185, 185);
}

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  align-items: flex-end;
  background-color: cornsilk;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#introText {
  max-width: 960px;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 960px;
  width: 100%;
}

.category {
  border-bottom: 1px solid #dddddd;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoryTitle {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.showSectionButton {
  cursor: pointer;
}

.category h2 {
  padding: 0;
  margin: 0;
}

/* section {
  display: none;
} */

/* section > div {
  padding: 0 0.25rem;
} */

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingTitle {
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
}

.showDetailsButton {
  cursor: pointer;
  font-weight: bold;
}

.httpVerb {
  padding: 0.25rem;
}

.path {
  text-decoration: none;
  color: rgb(86, 85, 85);
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.submit {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.loadingDiv {
  height: 0.5rem;
  width: 4.5rem;
  background-size: cover;
  /* background-image: url('./images/loading.gif'); */
}

button {
  background-color: #dadada;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #5f5e5e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', 'Liberation Sans',
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0.5rem 0;
  outline: none;
  padding: 0.25rem 0.8rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

button:hover,
button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

/* Colors for endpoints */
.getHeading {
  border: 1px solid var(--getColorAccent);
}
.postHeading {
  border: 1px solid var(--postColorAccent);
}
.putHeading {
  border: 1px solid var(--putColorAccent);
}
.getSectionTitle {
  color: var(--getColorPrimary);
  font-weight: bold;
  padding: 0.5rem 0;
}
.postSectionTitle {
  color: var(--postColorPrimary);
  font-weight: bold;
  padding: 0.5rem 0;
}
.putSectionTitle {
  color: var(--putColorPrimary);
  font-weight: bold;
  padding: 0.5rem 0;
}
.getContainer {
  margin: 0.5rem 0;
  border: 1px solid var(--getColorAccent);
  background-color: var(--getColorLight);
}
.postContainer {
  margin: 0.5rem 0;
  border: 1px solid var(--postColorAccent);
  background-color: var(--postColorLight);
}
.putContainer {
  margin: 0.5rem 0;
  border: 1px solid var(--putColorAccent);
  background-color: var(--putColorLight);
}
.getHeading > p {
  color: var(--getColorPrimary);
}
.postHeading > p {
  color: var(--postColorPrimary);
}
.putHeading > p {
  color: var(--putColorPrimary);
}
.getVerb {
  background-color: var(--getColorPrimary);
  border-right: 1px solid var(--getColorAccent);
  color: white;
}
.postVerb {
  background-color: var(--postColorPrimary);
  border-right: 1px solid var(--postColorAccent);
  color: white;
}
.putVerb {
  background-color: var(--putColorPrimary);
  border-right: 1px solid var(--putColorAccent);
  color: white;
}

/* ANIAMTION */
.showSectionButton:hover,
.categoryTitle:hover,
.path:hover,
.showDetailsButton:hover,
.httpVerb:hover {
  color: var(--globalAccent);
}

.details,
.endpoints {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.detailSection {
  margin: 0.5rem;
}

/* Details response Table */

table,
th,
td {
  border-collapse: collapse;
  color: rgb(140, 143, 145);
}

table {
  width: 100%;
  text-align: left;
}

tr {
  border-bottom: 1px solid gray;
}

td {
  vertical-align: top;
}

td.code {
  color: black;
  font-weight: bold;
}

td.response {
  max-width: 350px;
}

.pre_sampleResponse {
  background-color: #fff;
  /* max-width: 800px; */
  max-height: 250px;
  overflow: auto;
}

/* Acutal Results */
.pre_actualResponse {
  background-color: #fff;
  min-height: 2rem;
  display: flex;
  align-items: center;
  overflow: auto;
}

pre {
  box-shadow: 2px 2px var(--globalAccent) inset;
  padding: 0 5px;
}

pre:hover {
  background-color: rgb(255, 240, 191);
}
