:root {
  --getColorAccent: rgb(195, 217, 236);
  --getColorLight: rgb(235, 243, 249);
  --getColorPrimary: rgb(37, 106, 180);

  --postColorAccent: rgb(255, 255, 204);
  --postColorLight: rgb(255, 255, 204);
  --postColorPrimary: rgb(255, 255, 204);
}

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 2rem;
}

.category {
  background-color: lightgray;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category h2 {
  padding: 0;
  margin: 0;
}

/* section {
  margin: 1rem 0;
} */

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingTitle {
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
}

.showDetailsButton {
  cursor: pointer;
}

.getHeading {
  border: 1px solid var(--getColorAccent);
  /* background-color: rgb(183, 235, 183); */
}

.getSectionTitle {
  color: var(--getColorPrimary);
  font-weight: bold;
  padding: 0.5rem 0;
}

.getContainer {
  margin: 0.5rem 0;
  border: 1px solid var(--getColorAccent);
  background-color: var(--getColorLight);
}

.getHeading > p {
  color: var(--getColorPrimary);
}

.httpVerb {
  padding: 0.25rem;
}

.getVerb {
  background-color: var(--getColorPrimary);
  border-right: 1px solid var(--getColorAccent);
  color: white;
}

.path {
  text-decoration: none;
  color: rgb(86, 85, 85);
}

/* ANIAMTION */
.showSection {
  /* display: block; */
}

.details,
.endpoints {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.detailSection {
  margin: 0.5rem;
}

table,
th,
td {
  border-collapse: collapse;
  color: rgb(140, 143, 145);
}

table {
  width: 100%;
  text-align: left;
}

tr {
  border-bottom: 1px solid gray;
}

td {
  vertical-align: top;
}

td.code {
  color: black;
  font-weight: bold;
}

td.response {
  max-width: 350px;
}

pre {
  background-color: #fff;
  max-height: 250px;
  overflow: auto;
}

.json {
}
